<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="ja" lang="ja" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<base href="<!--{$smarty.const.ISP_BASE_URL}-->web/" />
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<meta name="viewport" content="width=device-width" />
		<title><!--{if ISP == nifty}-->@nifty:<!--{/if}-->運営者情報｜<!--{$smarty.const.CONTENTS_NAME}--></title>
		<link rel="stylesheet" href="css/smp/sp.css" type="text/css" />
		<script type="text/javascript" src="js/jquery1.8.js"></script>
		<script type="text/javascript" src="js/smp/entry.js"></script>
		<script type="text/javascript" src="js/smp/pagetop.js"></script>
		<meta name="description" content="アウトワードが管理する「心震わす真実の声に誰もが驚愕◆涙占い大阪の嬢王 SASHA.t」の運営者情報をお伝えしています。">
		<!--{include file="file:./parts/ga.html"}-->

	</head>

<body class="ow_body ow_lower">

<!--{include file="file:../../../../../common/header_isp.html"}-->
<!--{include file="file:./parts/header_menu.html"}-->

	<div class="ow_main">

		<div class="ow_bread">
			<a href="<!--{$smarty.const.CONTENTS_URL}-->">TOP</a> &gt;
			運営者情報
		</div>

		<!-- ▼▼▼240208_追加ここから▼▼▼ -->
		<div class="ow_page">
			<h2 class="heading">販売責任者（運営者情報）</h2>
			<dl class="info_list">
				<dt>社名</dt>
				<dd>
					株式会社　アウトワード　OUTWARD co.,ltd
				</dd>
			</dl>
			<dl class="info_list">
				<dt>設立</dt>
				<dd>
					2001年10月
				</dd>
			</dl>
			<dl class="info_list">
				<dt>資本金</dt>
				<dd>
					12,000,000円
				</dd>
			</dl>
			<dl class="info_list">
				<dt>事業内容</dt>
				<dd>
					ソフトウェアの企画・開発・販売<br />
					インターネットに関連するソフトウェアの企画・開発・販売<br />
					WEBデザイン業務<br />
					WEBサイトの企画立案、作成及び管理代行<br />
					WEBサイトの保守管理<br />
					インターネット・コンピュータの導入・利用等におけるコンサルティング業務<br />
					サーバの設置及びその管理業務<br />
					デジタルコンテンツの企画及び制作<br />
					インターネットにおける広告企画業務<br />
					情報通信機器のソフトウェアの開発、製造及び販売<br />
					情報通信端末及び通信機器の販売<br />
					広告代理業務<br />
				</dd>
			</dl>
			<dl class="info_list">
				<dt>企業サイトURL</dt>
				<dd>
					<a href="https://www.outward.jp/" target="_blank">https://www.outward.jp/</a>
				</dd>
			</dl>
			<dl class="info_list">
				<dt>当社管理占いコンテンツ</dt>
				<dd>
					核心見抜く掟破りの的中率！　冬月式【極】算命学<br />
					心震わす真実の声に誰もが驚愕◆涙占い大阪の嬢王 SASHA.t<br />
					言霊に宿る真実を呼び覚ます　言霊ナース占い師目連<br />
					占い系YouTuber◆心震わすROCKな魂「ダイヤング・タロット」<br />
					心揺さぶる高次元パワー解禁！　門外不出の琉球イーチンタロット美杏<br />
					大地の霊力であなたに幸せを引き寄せる～水萌マリルの龍脈ジオマンシー<br />
					過去を再創造し運命を変える魔術◆ミセス・カーシャのパラレルリーディング<br />
					どんな悩みもカルマ音階で即解消！　野森ケイトの『アイリッシュハープ神秘術』<br />
					衝撃鑑定にドキッ！　霊性チャネラー“丹生灯香”の星辰波動占術<br />
					現実世界から徹底的にあなたを救う◆はゆき咲くらの「夢霊術クレアボヤンス」<br />
					巫女マリアの“スピリチュアルインナーサイン”～内在するカルマの識別信号<br />
					全てお見通し！　高次元チャネラー“れいりん”の不動明王チャネリング霊術<br />
					邪気を祓い、不幸よ退散！　聖地奄美大島の“ユタ神様”円聖修の輪華霊術<br />
					鳥肌ドキッ！　驚愕の霊能力であなたの悩みをとり払う！～新大久保の霊能母<br />
					月魔術で極当て鑑定！　七海カイリの“ダークムーン＆ホワイトムーン”<br />
					中国揺鞭派風水“七代目伝説の占者”～易海陽光の陰陽五帝占術<br />
					陰の宇宙カルマを大転換！　レイキで邪を葬る“沖縄の太陽女史”YUKI<br />
					神をも恐れぬ台湾随一の的中占！　台湾の諸葛孔明“白龍”の【八龍霊視占】<br />
					真髄解決!!　門外不出のマジナヒ祈祷　星風の“形代禁厭霊術”<br />
					前世からの因縁を宿したDNAを波動転換！　エト天命の前世波動呪術<br />
					奇跡体験を起こしまくる霊魔術！　小柳猛のホワイトマジックリーディング<br />
					ゾクッ！とする程の《呪・縛・解・放・感》波動カバラ呪術師ＬＵＭＩＫＯ<br />
					ゾクッとする程、当てまくる！ 前世と現世をつなぐ脅威の霊界人〜赤い糸の母<br />
					怖い程当たる！小さなおじさんからの不思議託宣〜オールドマンオラクル<br />
					夜見の国の使者“智子”数霊万葉占術～数霊の見えざる力で運命が激変～<br />
					瀬戸の的中僧 “野田御前”の【六壬若水霊占】～神が宿る門外不出鑑定<br />
					銀座の開運商人“右京”～解決出来ない悩みは1ミリもございません～<br />
					極上＊意識レベルの神鑑定！～龍神様から選ばれた男“おかちゃん”<br />
					あなたの苦境を激変させる!?～秋田の“鬼当ての母”松山恭子の紫微断易<br />
					Keiko的「ムーン・オラクル」～月が導いた神秘の29枚～<br />
					“白金の伝説占者”マダム成澤の誕生霊数～当たり過ぎも困りものよ<br />
					転写パワーであなたの幸運細胞を揺さぶる！　エナジープロデュースカード<br />
					仙家道術の秘儀を操る漢　藤田和久の八徳文殊波動玄術<br />
					精霊たちの囁きに鳥肌！　Chigumiのハワイアン・エレメンタル<br />
					【感性と直感の魔力】堤裕司＆芳垣宗久の『ホロチャートダウジング』<br />
					本場台湾驚愕の厄払い！　悪霊も退散する鬼鑑定　玉仙妃の【靈符八神占】<br />
					心震える愛と癒しの奇跡【44枚の神の神秘】レムリアン・シード・オラクル<br />
					たった一度の相談が人生を180度好転させる！ハンドコズミック数命術<br />
					激ヤバッ!!　当たりすぎて「震えが止まらない」霊魂ダウザーKiko<br />
					マジ当たり連発に口コミ激増【希臘数秘術】橘のえる‐アリトモマンシー<br />
					愛、欲望、嫉妬、心の闇をさらけ出す魔性のカード【マーメイドオラクル】<br />
					ソウルメイトで話題！　引き寄せの女神☆ルナロジー創始者Keiko<br />
					オキテ破りの“引き寄せ鑑定”アルフォンス石井の【天学占星術】<br />
					全国の占い学校から講演依頼殺到！ 青木智の極当占“十大主星占術”<br />
					限りある命の中で最大限の奇跡を起こす！未空流『命式陰陽術』<br />
					未来“ズバッ”と見通し～占術探求師CHAZZと開く幸運の道～<br />
					人生180度激変!!　ウィリアム・レーネンのエナジーカード<br />
					「世界にただ一つの奇跡」菅野萌の“ツインレイリーディング”<br />
					 ガイアの力で奇跡体験！　真実導く『ガイアオラクルカード』<br />
					22枚の童話の世界が真実を告げるインナーチャイルドカード<br />
					真実が湧き、満ち溢れる……。マックス・コパの“神業ウラ数秘”<br />
					日本の神託カード　～神々と精霊、いのちと大地からのメッセージ～<br />
					負を浄化！《業界口コミ》騒然の魔術～オルゴナイトリーディング<br />
					湧き出る愛に感涙！　KEIKO的マゼンタ・ラブ・オラクル<br />
					読まれ過ぎ覚悟の極深占！　霊波リーダー結祈のペンデュラム占術<br />
					名前“だけ”で激当て必至!!　キャメレオン竹田の超☆姓名判断<br />
					煌めきと幸福をもたらす“人生のみちびき師”鈴木理水の霊眼リーディング<br />
					クラーラおばさんの《鉛数秘》～古代の叡智が溢れる“幻”占術～<br />
					マカロンタロット～可愛いけど本格派！　運命開く魔法のカード～<br />
					万物見極め真実晒す！　名古屋の行列占～大須の母・相賀琉予～<br />
					運命切り開く至高の導き！　月星キレイのジュピテーショナル占術<br />
					KEIKOの「パートオブフォーチュン～幸運のありか～」<br />
					諸喜田清子の波動宿綴占～自動書記で綴り連なる運命の宿図<br />
					眠れないほどの的中率！キャメレオン竹田のレッツ！タロット<br />
					人知を超えた的中力！　ホンモノを引き寄せる神業級の鑑定～イヴァルナ×KEIKO～<br />
					高島照令の『名乗り【ナノリ】』宿命鑑定<br />
					オフェリア・麗のＧ・ダビデ占術<br />
					“中”御所占い師キャメレオン竹田の365誕生日読星術<br />
					KEIKOの秘伝ソウルメイト風水占術<br />
					ズル過ぎる的中率！異端の占術解禁!!シェイプシフター・オラクルカード<br />
					姓名の波動があなたの未来を照らす！　フューチャーリーダー『みよこ先生』<br />
					スーザン・ミラーの米国式占星術
				</dd>
			</dl>
			<dl class="info_list">
				<dt>当社管理無料占いコンテンツ</dt>
				<dd>
					<a href="https://www.goodfortune.jp/" target="_blank"><strong>さちこい-よく当たる無料占い-</strong></a><br />
					さちこい無料占いは、様々な占術を用いて未来や運勢を占うサービスで、悩みを抱える多くの人に興味を持って利用していただいております。
					占術の種類は、星占い（占星術）星座占い、タロット占い、名前占い、心理テスト、夢占い、おみくじ、姓名判断などがあり、カテゴリは恋愛占い・片思い占い・相性占い・復縁占い・結婚占い・出会い占い・仕事占い・人生占いなど種類豊富で、そのほか今日の運勢、ねこ占いなどたくさんの種類の無料占いが楽しめます。
					<br />
					<br />
					<a href="/web/link/">おすすめの人気の無料占い</a>をもっと見る
				</dd>
			</dl>
			<dl class="info_list">
				<dt>取引銀行</dt>
				<dd>
					三井住友銀行 天神町支店<br />
					西日本シティ銀行 姪浜駅前支店
				</dd>
			</dl>
		</div>
		<!-- /.ow_page -->
		<!-- ▲▲▲240208_追加ここまで▲▲▲ -->

	</div>
	<!-- /.ow_main -->

<!--{include file="file:./parts/footer_menu.html"}-->

</body>
</html>
