#container    { background-color: #fff; text-align: left; width: 850px; border: solid 1px #c7c7c7 }
#header    { }
.logo  { background-image: url(../img/logo_apis.gif); background-repeat: no-repeat; margin-left: 20px; width: 200px; height: 80px }
.b_box     { background-color: #e6e6e6; padding-top: 6px; padding-bottom: 6px; padding-left: 10px; border-top: 1px solid #c7c7c7; border-bottom: 1px solid #c7c7c7 }
.b_box a:link  { color: #000; font-size: 12px }
.b_box a:visited  { color: #4e4e4e; font-size: 12px }
.b_box a:hover { color: #f00; font-size: 12px; text-decoration: underline }
.b_box_under     { background-image: url(../img/bg_b_under.gif); background-repeat: repeat-x; margin-bottom: 10px; padding-top: 6px; padding-bottom: 6px; padding-left: 10px }

.title_box    { color: #fff; font-size: 14px; font-weight: bold; line-height: 18px; background-color: #000; margin-right: 10px; margin-bottom: 20px; margin-left: 10px; padding-left: 10px }
#main    { padding: 10px }
#footer  { }
.footerline    { background-color: #000; margin: 10px; height: 20px }
.copy    { color: #4e4e4e; font-size: 11px; text-align: center }

.clear     { clear: both }

/* body */

body { color: #000000; font-size: 14px; background-image: url(../img/isp/logo.png); background-repeat: repeat }
input {vertical-align:middle;}
.bodybox    { font-size: 12px; background-color: #fafafa; padding: 10px; border: solid 1px #d8d8d8 }
/*rssfeed*/
.gray_box    { font-size: 12px; background-color: #f3f3f3; margin-bottom: 20px; padding: 15px 5px }

/*html構築（左メニュー）*/
.leftmenu_case        { color: #fff; background-color: #f0f0f0; margin-bottom: 5px; padding: 2px; border: solid 1px #7d7d7d }
.leftmenutitle       { color: #fff; font-size: 12px; font-weight: bold; background-color: #7d7d7d; padding-top: 3px; padding-bottom: 3px; padding-left: 5px }
.leftmenu_b        { font-size: 12px; background-image: url(../img/bg_left_button.gif); background-repeat: no-repeat; padding-top: 7px; padding-bottom: 7px; padding-left: 10px; border-right: 1px solid #7d7d7d; border-bottom: 1px solid #7d7d7d; border-left: 1px solid #7d7d7d }
.leftmenu_b0          { color: #7d7d7d; font-size: 12px; background-color: #e6e6e6; padding-top: 7px; padding-bottom: 7px; padding-left: 10px; border-right: 1px solid #7d7d7d; border-bottom: 1px solid #7d7d7d; border-left: 1px solid #7d7d7d }
.leftmenu_line       { font-size: 12px; border-bottom: 1px solid #7d7d7d }

/*個人設定*/
.status_box     { padding: 3px;  border: solid 1px #d8d8d8 }

input.button{
	background-color:#BBBBBB;
	font-size:12px;
	font-weight:lighter;
	border-top:2px solid #666666;
	border-left:3px solid #666666;
	border-bottom:2px solid #000000;
	border-right:3px solid #000000;
	color:#000000;
}
input.input{
	background-color:#FFFFFF;
	font-size:14px;
	font-weight:lighter;
	border-top:1px solid #000044;
	border-left:2px solid #000044;
	border-bottom:1px solid #444499;
	border-right:2px solid #444499;
	color:#000000;
}
input.select{
	background-color:#FFFFFF;
	font-size:14px;
	font-weight:lighter;
	border-top:2px solid #000055;
	border-left:3px solid #000055;
	border-bottom:2px solid #666699;
	border-right:3px solid #666699;
	color:#000000;
}
#page-wrap {
	margin: 20px auto;
	width: 750px;
}

textarea#styled {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat;
}
/* body2
a:link { font-size: 12px }
a:visited { color: #4e4e4e; font-size: 12px }
a:hover { color: #f00; font-size: 12px; text-decoration: underline }
a:active { color: #f00; font-size: 12px; text-decoration: underline }
*/
td{
	font-size:13px;
	padding:2px;
/*	font-weight:bold;*/
} 
.tdisp{
	background-color:#EEEEEE;
}
/* タイトル */
.title { color: #ffffff; font-size: 14px; font-weight: bold; line-height: 18px; background-color: #000000; margin-bottom: 20px; padding-left: 10px; border-style: solid; border-width: 1px; border-color: #000000 #000000 #999999 #666666 }
.tdtitle{
	color: #4e4e4e;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	background-color: #e4e4ee;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px
}
.tdmenu {
	background-color : #f0f0f0;
	color: #000;
	font-size: 11px;
	padding-top: 5px;
}
.tdsmenu  { color: #4e4e4e; font-size: 11px; padding-top: 10px; border-bottom: 1px solid #7d7d7d }

.tddata   { color: #4e4e4e; font-size: 12px; line-height: 14px; background-color: #fff }
.tddata_status    { color: #4e4e4e; font-size: 12px; line-height: 14px }
.tddata_help    { margin:3px; }

.tddataM{
	background-color:#EEEEFF;
	font-size:12px;
	line-height:14px;
	color:#000000
}
.tddataF{
	background-color:#FFFFFF;
	font-size:12px;
	line-height:14px;
	color:#000000
}
.tddata0 { color: #4e4e4e; font-size: 12px; line-height: 14px; background-color: #fff; padding-right: 10px; padding-left: 10px }
.tddata1 { color: #999; font-size: 12px; line-height: 14px; background-color: #d8d8d8; padding-right: 10px; padding-left: 10px }
#rss_feed_input_result  { color: #f66; font-weight: bold; margin: 5px; height: 20px }
#rss_news_input_result{
	color:#F66;
	font-weight:bold;
	margin:10px;
}
.add_form_menu{
	color: #000;
	font-size: 11px;
	padding-top: 5px;
	border-top:1px solid #ddd;
}
.add_form_input{
	color: #4e4e4e;
	font-size: 12px;
	padding-top: 5px;
	line-height: 14px;
	width:370px;
	border-top:1px solid #ddd;
}