<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta name="viewport" content="width=device-width" />
	<title><!--{if ISP == nifty}-->@nifty：<!--{/if}-->話題の恋愛占い｜<!--{$smarty.const.CONTENTS_NAME}--></title>
	<link rel="stylesheet" href="css/pc/common.css" type="text/css" />
	<script type="text/javascript" src="js/jquery1.8.js"></script>
	<script src="js/jquery.tile.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/pc/top.js"></script>
	<script type="text/javascript" src="js/default_form_ie.js"></script>
	<script type="text/javascript" src="js/sashat/consultation_form.js"></script>
	<script type="text/javascript" src="web/js/pc/entry.js"></script>
	<script type="text/javascript" src="web/js/date.js"></script>
	<meta name="description" content="涙占い大阪の嬢王 SASHA.tでは、相談者との対話を通じてパラレルワールドからメッセージを読み取り悩みを解決に導きます。恋愛係の悩みに強く、片思い占い・相性占い・結婚占い・出会い占いなどで悩みを抱える女性の未来を優しく導くことができます。">
	<meta property="og:title" content="話題の恋愛占い｜<!--{$smarty.const.CONTENTS_NAME}-->">
	<meta property="og:description" content="涙占い大阪の嬢王 SASHA.tでは、相談者との対話を通じてパラレルワールドからメッセージを読み取り悩みを解決に導きます。恋愛係の悩みに強く、片思い占い・相性占い・結婚占い・出会い占いなどで悩みを抱える女性の未来を優しく導くことができます。" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<!--{$smarty.const.CONTENTS_URL}-->" />
	<meta property="og:image" content="<!--{$smarty.const.CONTENTS_URL}-->img/pc/common/620_240.jpg" />
	<meta property="fb:app_id" content="" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@8yuki_3kura" />
<!--{include file="file:./parts/ga.html"}-->
<script type="text/javascript">
	$(window).on('load', function() {
		loadCookie(<!--{$contents_data.target_count}-->);
	});
</script>
</head>

<body class="ow_body">

	<!--{include file="file:../../../../../common/header_isp.html"}-->
	<div class="ow_body_bg_01">
		<div class="ow_body_bg_02">

			<!-- /.ow_header -->
			<div class="ow_header">
				<div class="ow_header_wrap">
					<div class="ow_header_item ow_header_text_1"><img src="img/pc/common/header_text_1.png" alt="パラレルワールドのあなたから" title="パラレルワールドのあなたから" /></div>
					<div class="ow_header_item ow_header_text_2"><img src="img/pc/common/header_text_2.png" alt="メッセージが届きました＿＿。" title="メッセージが届きました＿＿。" /></div>
					<div class="ow_header_item ow_header_catch_1"><img src="img/pc/common/header_catch_1.png" alt="心震わす真実の声に誰もが驚愕!涙!!" title="心震わす真実の声に誰もが驚愕!涙!!" /></div>
					<div class="ow_header_item ow_header_catch_2"><img src="img/pc/common/header_catch_2.png" alt="涙占い大阪の嬢王" title="涙占い大阪の嬢王" /></div>
					<div class="ow_header_item ow_header_title"><img src="img/pc/common/header_title.png" alt="SASHA.t　サーシャ" title="SASHA.t　サーシャ" /></div>
				</div>
				<!-- /.ow_header_wrap -->
				<div class="ow_headline_btn">
					<div class="ow_headline_btn_inner">
						<div class="ow_headline_btn_item"><a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=14"><img src="img/pc/top/headline_btn_1.png" alt="無料で占う　あの人があなたに抱く想い・嘘偽りの無い本音" title="無料で占う　あの人があなたに抱く想い・嘘偽りの無い本音"></a></div>
						<div class="ow_headline_btn_item"><a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=15"><img src="img/pc/top/headline_btn_2.png" alt="無料で占う　次の恋人は誰？結ばれる運命の相手" title="無料で占う　次の恋人は誰？結ばれる運命の相手"></a></div>
					</div>
				</div>
			</div>
			<!-- /.ow_header -->

			<div class="ow_nav">
				<div class="ow_nav_inner">
					<div class="ow_nav_item">
						<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/profile/#profile" class="ow_nav_link ow_nav_link_1"></a>
					</div>
					<div class="ow_nav_item">
						<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/profile/#about" class="ow_nav_link ow_nav_link_2"></a>
					</div>
				</div>
			</div>

			<div class="ow_main">
				<div class="ow_sp_contents">
					<div class="ow_header_btn_wrap">
						<div class="ow_header_btn ow_header_btn_1">
							<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=14" class="ow_header_btn_link"></a>
						</div>
						<div class="ow_header_btn ow_header_btn_2">
							<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=15" class="ow_header_btn_link"></a>
						</div>
					</div>
					<!-- /.ow_header_btn_wrap -->


					<div class="ow_new">
						<div class="ow_new_intro ow_tac">
							<!-- /.ow_new_intro -->
							<div class="ow_new_top">
								<img class="ow_vab" src="img/pc/top/new_top.jpg" alt="新着鑑定" title="新着鑑定" />
							</div>
							<div class="ow_new_intro_item ow_new_intro_teller">
								<img src="img/pc/top/new_intro_fortune.png" alt="" title="" />
							</div>
							<div class="ow_new_intro_item ow_power_ward">
								<img src="img/pc/top/power_ward.png" alt="ドン底人生が一気に好転しました!!" title="ドン底人生が一気に好転しました!!" />
							</div>

							<div class="ow_new_intro_item ow_new_intro_title_1">
								<img src="img/pc/top/new_intro_title_1.png" alt="鑑定数1万人以上の実力占い師" title="鑑定数1万人以上の実力占い師" />
							</div>
							<div class="ow_new_intro_item ow_new_intro_title_2">
								<img src="img/pc/top/new_intro_title_2.png" alt="メディアや雑誌でも話題沸騰中!!" title="メディアや雑誌でも話題沸騰中!!" />
							</div>
							<div class="ow_new_intro_item ow_new_intro_title_3">
								<img src="img/pc/top/new_intro_title_3.png" alt="幸せを掴む分岐点を教えます―" title="幸せを掴む分岐点を教えます―" />
							</div>

							<div class="ow_new_intro_item ow_intro_career">
								<img src="img/pc/top/intro_career.png" alt="鑑定歴11年!!" title="鑑定歴11年!!" />
						</div>
					</div>
					<!-- /.ow_new_top -->
					<div class="ow_new_mid">
<!--{foreach name="newly_contents" key=key item=contents_data from=$newly_contents}-->
						<div class="ow_menu">
							<div class="ow_menu_head">
								<!--{if $smarty.foreach.newly_contents.iteration == 1}-->
								<div class="ow_menu_icon">
									<img src="img/pc/category/shintyaku.png" alt="新着メニュー" title="新着メニュー" />
								</div>
								<!--{else}-->
								<div class="ow_menu_icon">
									<img src="img/pc/category/<!--{$contents_data.category}-->.png" alt="<!--{$category_data[$contents_data.category].name}-->　<!--{if $contents_data.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" title="<!--{$category_data[$contents_data.category].name}-->　<!--{if $contents_data.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" />
								</div>
								<!--{/if}-->
								<div class="ow_menu_title">
								<!--{if $key == 0}-->
									<div class="ow_update_b"><!--{$contents_data.rakuten_release_start_date|substr:5:2|intval}-->月<!--{$contents_data.rakuten_release_start_date|substr:8:2|intval}-->日更新
									</div>
								<!--{/if}-->
									<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=<!--{$contents_data.id}-->" class="ow_menu_link"><!--{$contents_data.name_biglobe|default:$contents_data.name_rakuten|default:$contents_data.name}--></a>
								</div>
							</div>
							<!-- /.ow_menu_head-->
							<div class="ow_menu_tail">
								<!--{if $contents_data.price_taxin > 1}-->
								<span class="ow_menu_price ow_premium_price"><span class="ow_nif">プレミアム価格　<!--{$contents_data.price_off10|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span></span>
								<span class="ow_menu_price ow_default_price"><span class="ow_nif">通常価格　</span><!--{$contents_data.price_taxin|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span>
								<!--{else}-->
								<span class="ow_menu_price ow_default_price">無料</span>
								<!--{/if}-->
							</div>
						</div>
						<!-- /.ow_menu -->
<!--{/foreach}-->
					</div>
					<!-- /.ow_new_mid -->
					<div class="ow_new_btm ow_tac">
						<img class="ow_vat" src="img/pc/top/new_btm.jpg" alt="" />
					</div>
				</div>
				<!-- /.ow_new -->

				<!-- コラム表示エリア -->
				<!--{if isset($latest_columns) && $latest_columns}-->
				<div class="ow_column_list">
					<div class="ow_column_list_title ow_tac">
						<h2>最新コラム</h2>
					</div>
					
					<div class="ow_column_articles">
						<!--{foreach from=$latest_columns item=column}-->
							<div class="ow_column_article_item">
								<div class="ow_column_article_title">
									<h3><a href="/column/<!--{$column.id}-->/"><!--{$column.title}--></a></h3>
								</div>
								<div class="ow_column_article_meta">
									<span class="ow_column_post_date">公開日：<time datetime="<!--{$column.post_date}-->"><!--{$column.formatted_post_date}--></time></span>
								</div>
								<div class="ow_column_article_summary">
									<!--{$column.summary}-->
								</div>
								<!--{if $column.seo_keywords}-->
									<div class="ow_column_article_keywords">
										<span class="ow_column_keywords_label">キーワード：</span>
										<span class="ow_column_keywords_list"><!--{$column.seo_keywords}--></span>
									</div>
								<!--{/if}-->
								<div class="ow_column_article_link">
									<a href="/column/<!--{$column.id}-->/" class="ow_column_read_more">続きを読む</a>
								</div>
							</div>
						<!--{/foreach}-->
					</div>
					
					<div class="ow_column_more_link_wrapper ow_tac">
						<a href="/column/" class="ow_column_more_link_btn">
							コラム一覧を見る
						</a>
					</div>
				</div>
				<!-- /.ow_column_list -->
				<!--{/if}-->

				<div class="ow_rec_intro ow_tac">
					<div class="ow_rec_top">
						<img class="ow_vab" src="img/pc/top/rec_top.jpg" alt="" title="" />
					</div>
					<div class="ow_rec_intro_item ow_rec_intro_title_1">
						<img src="img/pc/top/rec_intro_title_1.png" alt="ただ悩みを解決するだけじゃない!!" title="ただ悩みを解決するだけじゃない!!" />
					</div>
					<div class="ow_rec_intro_item ow_rec_intro_title_2">
						<img src="img/pc/top/rec_intro_title_2.png" alt="ここまで“わかる”！" title="ここまで“わかる”！" />
					</div>

					<div class="ow_rec_intro_item ow_eikyou_image">
						<img src="img/pc/top/rec_eikyou_image.png" alt="" title="" />
					</div>
					<div class="ow_rec_intro_item ow_eikyou_text">
						<img src="img/pc/top/rec_eikyou_text.png" alt="並行世界を通して視たこの世界のあなたにも影響する、　「あなたの本来の姿」「あなたとあの人ふたりの関係」" title="並行世界を通して視たこの世界のあなたにも影響する、　「あなたの本来の姿」「あなたとあの人ふたりの関係」" />
					</div>

					<div class="ow_rec_intro_item ow_himotoku_image">
						<img src="img/pc/top/rec_himotoku_image.png" alt="" title="" />
					</div>
					<div class="ow_rec_intro_item ow_himotoku_text">
						<img src="img/pc/top/rec_himotoku_text.png" alt="並行世界のあなたはどんな姿？そこから紐解く　「現状の原因」「今後起こりうる転機・変化」" title="並行世界のあなたはどんな姿？そこから紐解く　「現状の原因」「今後起こりうる転機・変化」" />
					</div>

					<div class="ow_rec_intro_item ow_bunki_image">
						<img src="img/pc/top/rec_bunki_image.png" alt="" title="" />
					</div>
					<div class="ow_rec_intro_item ow_bunki_text">
						<img src="img/pc/top/rec_bunki_text.png" alt="見逃したくない「運命の分岐点」　“タラレバ”な後悔をもうしない為にできること" title="見逃したくない「運命の分岐点」　“タラレバ”な後悔をもうしない為にできること" />
					</div>
				</div>
				<!-- /.ow_rec_intro -->
				<div class="ow_rec">
					<div class="ow_rec_top ow_tac">
						<img class="ow_vab" src="img/pc/top/rec_top.png" alt="まずは一部無料でお試しする？　スペシャル鑑定" title="まずは一部無料でお試しする？　スペシャル鑑定" />
					</div>
					<div class="ow_rec_mid">
		<!--{assign var="pickup_contents_data" value=$contents_list[2]}-->
		<!--{assign var="pickup_category" value=$contents_list[2].category}-->
		<!--{assign var="pickup_category_group" value=$contents_list[2].category_group}-->
		<!--{assign var="pickup_target_count" value=$contents_list[2].target_count}-->
				<div class="ow_menu">
					<div class="ow_menu_top ow_tac">
						<img class="ow_vab" src="img/pc/top/menu_top_rec_1.png" alt="※叶わぬ恋はない！恋の極上占※" title="※叶わぬ恋はない！恋の極上占※" />
					</div>
					<div class="ow_menu_mid">
						<div class="ow_menu_head">
							<img src="img/pc/category/<!--{$pickup_category}-->.png" alt="<!--{$category_data[$pickup_category].name}-->　<!--{if $pickup_target_count == 1}-->一人用<!--{else}-->二人用<!--{/if}-->" title="<!--{$category_data[$pickup_category].name}-->　<!--{if $pickup_target_count == 1}-->一人用<!--{else}-->二人用<!--{/if}-->" />
							<div class="ow_menu_title">
								<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=<!--{$pickup_contents_data.id}-->" class="ow_menu_link">
									<!--{$pickup_contents_data.name_biglobe|default:$pickup_contents_data.name_rakuten|default:$pickup_contents_data.name}-->
								</a>
							</div>
						</div>
						<div class="ow_menu_tail">
							<span class="ow_menu_price ow_premium_price"><span class="ow_nif">プレミアム価格　
									<!--{$pickup_contents_data.price_off10|number_format}-->
									<!--{$smarty.const.PRICE_UNIT}-->
								</span></span>
							<span class="ow_menu_price ow_default_price"><span class="ow_nif">通常価格　</span>
								<!--{$pickup_contents_data.price_taxin|number_format}-->
								<!--{$smarty.const.PRICE_UNIT}-->
							</span>
						</div>
					</div>
					<div class="ow_menu_btm ow_tac">
						<img class="ow_vat" src="img/pc/top/menu_btm_rec.png" alt="" />
					</div>
				</div>
				<!-- /.ow_menu -->
				<div class="ow_entry_form">
				<form id="astrology_form" name="astrology_form" method="post" action="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=2">
				<input type="hidden" name="nc" id="nc_flag" value="2">
				<input type="hidden" name="menu_id" value="">
				<input type="hidden" name="nif_menukey" value="">
				<input type="text" style="display:none;">
					<div class="ow_my_form" id="my_form">
						<div class="ow_my_form_top ow_tac">
							<img class="ow_vab" src="img/pc/entry/my_form_top.png" alt="あなたのことを教えてください" title="あなたのことを教えてください">
						</div>
						<div class="ow_entry_form_mid ow_my_form_mid">
							<div class="ow_form_body">
								<div class="ow_entry_form_item">
									<div class="ow_entry_form_label ow_entry_form_label_name">
										お 名 前
									</div>
									<div class="ow_entry_form_input_wrap">
										<input class="ow_entry_form_input" type="text" name="name1" id="name1" value="">
										<div class="ow_entry_form_caution">
											※各5文字以内、特殊記号は使用できません。
										</div>
									</div>
								</div><!-- /.ow_entry_form_item -->

								<div class="ow_entry_form_item">
									<div class="ow_entry_form_label">
										生年月日<span>(必須)</span>
									</div>

									<!-- ▽▽▽PC用 生年月日入力▽▽▽ -->
									<div class="ow_entry_form_select_wrap ow_pc_block">

										<div class="ow_select ow_select_year">

											<select class="ow_entry_form_select" onchange="setDay(this.form.yy1,this.form.mm1,this.form.dd1);" id="yy1" name="yy1">
	<!--{section name=year start=1925 loop=2018 step=1}-->
	<!--{if $smarty.section.year.index eq 1985}-->
												<option value="-1" selected>----</option>
	<!--{/if}-->
												<option value="<!--{$smarty.section.year.index}-->"><!--{$smarty.section.year.index}-->年</option>
	<!--{/section}-->
											</select>
										</div>
										<!-- /.ow_select -->
										<div class="ow_select ow_select_month">
											<select class="ow_entry_form_select ow_entry_form_select_month" onchange="setDay(this.form.yy1,this.form.mm1,this.form.dd1);" id="mm1" name="mm1">
												<option value="-1">--</option>
												<!--{section name=mon start=1 loop=13 step=1}-->
												<option value="<!--{$smarty.section.mon.index|string_format:"%02d"}-->"><!--{$smarty.section.mon.index}-->月</option>
											<!--{/section}-->
											</select>
										</div>
										<!-- /.ow_select -->
										<div class="ow_select ow_select_day">
											<select class="ow_entry_form_select ow_entry_form_select_day" id="dd1" name="dd1">
												<option value="-1">--</option>
												<!--{section name=day start=1 loop=32 step=1}-->
												<option value="<!--{$smarty.section.day.index|string_format:"%02d"}-->"><!--{$smarty.section.day.index}-->日</option>
												<!--{/section}-->
											</select>
										</div>
										<!-- /.ow_select -->

									</div>
									<!-- /.ow_entry_form_select_wrap -->

								</div>
								<!-- /.ow_entry_form_item -->


								<div class="ow_entry_form_item">
									<div class="ow_entry_form_label">
										性　　別<span class="ow_red_2">(必須)</span>
									</div>
	<!--{if $contents_data.sex_flag eq 2}-->
									<div class="ow_entry_form_radio_wrap">
										<div class="sex_caution">このメニューは女性限定です。</div>
										<input type="radio" name="sex1" id="sex11" value="1" style="visibility:hidden">
										<input type="radio" name="sex1" id="sex12" value="2" checked="checked" style="visibility:hidden">
									</div>
	<!--{else}-->
										<div class="ow_entry_form_radio_wrap">
											<label><input type="radio" name="sex1" id="sex12" value="2" checked="checked" class="js-sexAutoChange1"><span class="ow_radiotxt female">女性で占う</span></label><label><input type="radio" name="sex1" id="sex11" value="1"  class="js-sexAutoChange1"><span class="ow_radiotxt male">男性で占う</span></label>
										</div>
	<!--{/if}-->
									</div><!-- /.ow_entry_form_item -->
								</div>
							</div>
							<!-- /.ow_entry_form_mid -->
						</div>
						<!-- /.ow_my_form -->
						<div class="ow_target_form">
							<div class="ow_target_form_top ow_tac">
								<img class="ow_vab" src="img/pc/entry/target_form_top.png" alt="あの人のことを教えてください" title="あの人のことを教えてください">
							</div>
							<div class="ow_entry_form_mid ow_target_form_mid">
								<div class="ow_form_body">
										<div class="ow_entry_form_item">
											<div class="ow_entry_form_label ow_entry_form_label_name">
												お 名 前
											</div>
											<div class="ow_entry_form_input_wrap">
												<input class="ow_entry_form_input" type="text" name="name2" id="name2" value="">
												<div class="ow_entry_form_caution">
													※各5文字以内、特殊記号は使用できません。
												</div>
											</div>
										</div><!-- /.ow_entry_form_item -->

										<div class="ow_entry_form_item">
											<div class="ow_entry_form_label">
												生年月日<span>(必須)</span>
											</div>

											<!-- ▽▽▽PC用 生年月日入力▽▽▽ -->
											<div class="ow_entry_form_select_wrap ow_pc_block">
												<div class="ow_select ow_select_year">
													<select class="ow_entry_form_select ow_entry_form_select_wide" onchange="setDay(this.form.yy2,this.form.mm1,this.form.dd1);" id="yy2" name="yy2">
	<!--{section name=year start=1925 loop=2018 step=1}-->
		<!--{if $smarty.section.year.index eq 1985}-->
														<option value="-1" selected>----</option>
		<!--{/if}-->
														<option value="<!--{$smarty.section.year.index}-->"><!--{$smarty.section.year.index}-->年</option>
	<!--{/section}-->
													</select>
												</div>
												<!-- /.ow_select -->
												<div class="ow_select ow_select_month">
													<select class="ow_entry_form_select" onchange="setDay(this.form.yy2,this.form.mm1,this.form.dd1);" id="mm2" name="mm2">
														<option value="-1">--</option>
	<!--{section name=mon start=1 loop=13 step=1}-->
														<option value="<!--{$smarty.section.mon.index|string_format:"%02d"}-->"><!--{$smarty.section.mon.index}-->月</option>
	<!--{/section}-->
													</select>
												</div>
												<!-- /.ow_select -->
												<div class="ow_select ow_select_day">
													<select class="ow_entry_form_select" id="dd2" name="dd2">
														<option value="-1">--</option>
	<!--{section name=day start=1 loop=32 step=1}-->
														<option value="<!--{$smarty.section.day.index|string_format:"%02d"}-->"><!--{$smarty.section.day.index}-->日</option>
	<!--{/section}-->
													</select>
												</div>
												<!-- /.ow_select -->
											</div>
											<!-- /.ow_entry_form_select_wrap -->
											<!-- △△△PC用 生年月日入力△△△ -->

										</div><!-- /.ow_entry_form_item -->

										<div class="ow_entry_form_item">
											<div class="ow_entry_form_label">
												性　　別<span class="ow_red_2">(必須)</span>
											</div>
	<!--{if $contents_data.sex_flag eq 2}-->
											<div class="ow_entry_form_radio_wrap">
												<div class="sex_caution">お相手は男性が自動的に選ばれます</div>
												<input type="radio" name="sex2" id="sex21" value="1" checked="checked" style="visibility:hidden">
												<input type="radio" name="sex2" id="sex22" value="2" style="visibility:hidden">
											</div>
	<!--{else}-->

											<div class="ow_entry_form_radio_wrap">
												<label><input type="radio" name="sex2" id="sex22" value="2" checked="checked" class="js-sexAutoChange2"><span class="ow_radiotxt female">女性で占う</span></label><label><input type="radio" name="sex2" id="sex21" value="1" class="js-sexAutoChange2"><span class="ow_radiotxt male">男性で占う</span></label>
											</div>
	<!--{/if}-->
										</div><!-- /.ow_entry_form_item -->


									</div>
									<!-- /.ow_form_body -->
								</div>
								<!-- /.ow_entry_form_mid -->
							</div>
							<!-- /.ow_target_form -->
							<div class="ow_form_btm ow_tac">
								<img class="ow_vat" src="img/pc/entry/my_form_btm.png" alt="">
							</div>

							<div class="ow_entry_form_mid">

	<!--{if $contents_data.price_notax > 1}-->
								<div class="ow_entry_form_btn_wrap">
									<!-- ▼▼▼一部無料ボタン▼▼▼ -->
									<div class="ow_entry_form_btn ow_tac">
										<a class="ow_entry_form_nc" href="javascript:gtag_submit('nc','<!--{$smarty.const.GTAG_KEY}--><!--{$contents_data.id}-->');form_submit(1,<!--{$contents_data.target_count}-->,'astrology_form')">
											<img src="img/pc/entry/btn_nc.png" alt="一部無料で鑑定する" title="一部無料で鑑定する">
										</a>
									</div>
									<div class="ow_entry_form_btn_text">
										次の鑑定結果ページの一部を<br>
										無料でご覧いただけます
									</div>
									<!-- ▲▲▲一部無料ボタン▲▲▲ -->
								</div>
								<div class="ow_entry_form_btn_wrap">
									<!-- ▼▼▼有料ボタン▼▼▼ -->
									<div class="ow_entry_form_btn ow_tac">
										<a class="ow_entry_form_submit" href="javascript:gtag_submit('result','<!--{$smarty.const.GTAG_KEY}--><!--{$contents_data.id}-->');form_submit(0,<!--{$contents_data.target_count}-->,'astrology_form')">
											<img src="img/pc/entry/btn_submit.png" alt="鑑定する(有料)" title="鑑定する(有料)">
										</a>
									</div>
									<!-- ▲▲▲有料ボタン▲▲▲ -->
								</div>

								<div class="ow_entry_form_btn_text ow_entry_form_btn_text_border">
									こちらのメニューのご利用には
									<div class="ow_premium_price ow_nif">
										プレミアム価格　<!--{$pickup_contents_data.price_off10|number_format}--><!--{$smarty.const.PRICE_UNIT}-->
									</div>
									<div class="ow_default_price">
										<span class="ow_nif">通常価格　</span><span class="ow_red"><!--{$pickup_contents_data.price_taxin|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span>
									</div>
									が必要です。
								</div>

								<div class="ow_entry_form_btn_text ow_entry_form_btn_text_2">
									ご利用前には、メニュー内容のご確認をお願いいたします。<br>
									ご購入されるとサービス・コンテンツの利用料金が<br>
									発生いたします。
								</div>
	<!--{else}-->
								<div class="ow_entry_form_btn_wrap">
									<div class="ow_entry_form_btn">
										<a class="ow_entry_form_free" href="javascript:form_submit(2,<!--{$contents_data.target_count}-->,'astrology_form')">
											<img src="img/pc/entry/btn_free_sp.png" alt="無料で鑑定する" title="無料で鑑定する">
										</a>
									</div>
									<div class="ow_entry_form_btn_text">
										次のページは無料でご利用いただけます。<br>
										※鑑定結果の一部を無料でご覧になれます。
									</div>
								</div>
	<!--{/if}-->


							</div>
							<div class="ow_form_btm ow_tac">
								<img class="ow_vat" src="img/pc/entry/form_btm.png" alt="">
							</div>
						</form>
					</div>
				<!-- /.ow_entry_form -->
				<div class="ow_menu">
					<div class="ow_menu_top ow_tac">
						<img class="ow_vab" src="img/pc/top/menu_top_rec_2.png" alt="※当たりすぎと口コミ殺到◆サーシャの特別鑑定※" title="※当たりすぎと口コミ殺到◆サーシャの特別鑑定※" />
					</div>
					<div class="ow_menu_mid">
						<div class="ow_menu_head">
							<img src="img/pc/category/<!--{$pickup_category}-->.png" alt="<!--{$category_data[$pickup_category].name}-->　<!--{if $pickup_target_count == 1}-->一人用<!--{else}-->二人用<!--{/if}-->" title="<!--{$category_data[$pickup_category].name}-->　<!--{if $pickup_target_count == 1}-->一人用<!--{else}-->二人用<!--{/if}-->" />
							<div class="ow_menu_title">
								<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=<!--{$pickup_contents_data.id}-->" class="ow_menu_link">
									<!--{$pickup_contents_data.name_biglobe|default:$pickup_contents_data.name_rakuten|default:$pickup_contents_data.name}-->
								</a>
							</div>
						</div>
						<div class="ow_menu_tail">
							<span class="ow_menu_price ow_premium_price"><span class="ow_nif">プレミアム価格　
									<!--{$pickup_contents_data.price_off10|number_format}-->
									<!--{$smarty.const.PRICE_UNIT}-->
								</span></span>
							<span class="ow_menu_price ow_default_price"><span class="ow_nif">通常価格　</span>
								<!--{$pickup_contents_data.price_taxin|number_format}-->
								<!--{$smarty.const.PRICE_UNIT}-->
							</span>
						</div>
						<div class="ow_menu_btn">
							<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=11"><img src="img/pc/top/menu_btn_rec.png" alt="あなたの未来を占う" title="あなたの未来を占う"></a>
						</div>
					</div>
					<div class="ow_menu_btm ow_tac">
						<img class="ow_vat" src="img/pc/top/menu_btm_rec.png" alt="" />
					</div>
				</div>
				<!-- /.ow_menu -->
				<div class="ow_ninso_intro">
					<div class="ow_ninso_intro_canvas">
						<img src="img/pc/top/ninso_intro_canvas.png" alt="" />
					</div>
					<div class="ow_ninso_intro_item ow_ninso_intro_catch_1">
						<img src="img/pc/top/ninso_intro_catch_1.png" alt="特別鑑定‼" title="特別鑑定‼" />
					</div>
					<div class="ow_ninso_intro_item ow_ninso_intro_catch_2">
						<img src="img/pc/top/ninso_intro_catch_2.png" alt="「直接鑑定してほしい‼」にお応えします！" title="「直接鑑定してほしい‼」にお応えします！" />
					</div>
					<div class="ow_ninso_intro_item ow_ninso_intro_title">
						<img src="img/pc/top/ninso_intro_title.png" alt="SASHA.t人相占い" title="SASHA.t人相占い" />
					</div>
					<div class="ow_ninso_intro_item ow_ninso_intro_hand">
						<img src="img/pc/top/ninso_intro_hand.png" alt="" title="" />
					</div>
					<div class="ow_ninso_intro_item ow_ninso_intro_baloon_1">
						<img src="img/pc/top/intro_baloon_1.png" alt="気軽にできるのにより本格的" title="気軽にできるのにより本格的" />
					</div>
					<div class="ow_ninso_intro_item ow_ninso_intro_baloon_2">
						<img src="img/pc/top/intro_baloon_2.png" alt="モヤモヤがきれいに晴れた" title="モヤモヤがきれいに晴れた" />
					</div>
					<div class="ow_ninso_intro_item ow_ninso_intro_baloon_3">
						<img src="img/pc/top/intro_baloon_3.png" alt="細かく対策を考えてもらえた" title="細かく対策を考えてもらえた" />
					</div>
					<div class="ow_ninso_intro_item ow_ninso_intro_baloon_4">
						<img src="img/pc/top/intro_baloon_4.png" alt="納得のいく結果になった" title="納得のいく結果になった" />
					</div>
				</div>

				<!--{include file="file:./parts/mail_form.html"}-->

			</div>
			<!-- /.ow_rec_mid -->
			<div class="ow_rec_btm ow_tac">
				<img class="ow_vat" src="img/pc/top/rec_btm.png" alt="" />
			</div>
		</div>
		<!-- /.ow_rec -->

		<div class="ow_sample_intro ow_tac">
			<div class="ow_sample_intro_canvas">
				<img src="img/pc/top/sample_intro_canvas.jpg" alt=""/>
			</div>
			<div class="ow_sample_intro_item ow_sample_intro_title">
				<img src="img/pc/top/sample_intro_title.png" alt="人生の分岐点…今からでもまだ間に合う?!" title="人生の分岐点…今からでもまだ間に合う?!" />
			</div>
			<div class="ow_sample_intro_item ow_sample_intro_text">
				<img src="img/pc/top/sample_intro_text.png" alt="あなたはこれまでの人生の中で「もしあの時あっちを選んでいれば…」「もう一度やり直したい」と、思ったことはありませんか？" title="あなたはこれまでの人生の中で「もしあの時あっちを選んでいれば…」「もう一度やり直したい」と、思ったことはありませんか？" />
			</div>
			<div class="ow_sample_intro_item ow_sample_intro_title_2">
				<img src="img/pc/top/sample_intro_title_2.png" alt="人生の分岐点で違う道を選んだあなたがどのような人生を歩んでいるか…" title="人生の分岐点で違う道を選んだあなたがどのような人生を歩んでいるか…" />
			</div>
		</div>
		<!-- /.ow_sample_intro -->
		<div class="ow_sample_intro_2 ow_tac">
			<div class="ow_sample_intro_canvas">
				<img src="img/pc/top/sample_intro_canvas_2.jpg" alt="" />
			</div>
			<div class="ow_sample_intro_item ow_sample_intro_teller">
				<img src="img/pc/top/sample_intro_teller.png" alt="" title="" />
			</div>
			<div class="ow_sample_intro_item ow_sample_intro_idea_1">
				<img src="img/pc/top/sample_intro_idea_1.png" alt="" title="" />
			</div>
			<div class="ow_sample_intro_item ow_sample_intro_idea_2">
				<img src="img/pc/top/sample_intro_idea_2.png" alt="" title="" />
			</div>
			<div class="ow_sample_intro_item ow_sample_intro_idea_3">
				<img src="img/pc/top/sample_intro_idea_3.png" alt="" title="" />
			</div>
			<div class="ow_sample_intro_item ow_sample_intro_look_1">
				<img src="img/pc/top/sample_intro_look_1.png" alt="視える、" title="視える、" />
			</div>
			<div class="ow_sample_intro_item ow_sample_intro_look_2">
				<img src="img/pc/top/sample_intro_look_2.png" alt="視えるっ!" title="視えるっ!" />
			</div>
		</div>
		<!-- /.ow_sample_intro_2 -->
		<div class="ow_balloon_text">
			<div class="ow_balloon_top">
				<img src="img/pc/top/ow_balloon_top.png" alt="">
			</div>
			<div class="ow_balloon_mid">
				サーシャは相談者との対話を通じて、それを見ることができます。<br>
				その世界から読み取ったメッセージから「今のあなたに影響している状況」や「あなたが好転する選択」を教えてくれます。
			</div>
			<div class="ow_balloon_top">
				<img src="img/pc/top/ow_balloon_btm.png" alt="">
			</div>
		</div>
		<!-- /.ow_balloon_text -->
		<div class="ow_sample">
			<div class="ow_sample_intro_top">
				<img src="img/pc/top/sample_intro_top.jpg" alt="おすすめ鑑定　苦しい片思いの結末は?!あなたが得る恋の運命" title="おすすめ鑑定　苦しい片思いの結末は?!あなたが得る恋の運命" />
			</div>
			<div class="ow_menu">
<!--{assign var="fix" value=$top_fix9}-->
<!--{assign var="fix_icon" value="1"}-->
<!--{assign var="fix_caption" value="0"}-->
<!--{include file="file:./parts/top_fix_menu.html"}-->
			</div>
			<div class="ow_menu">
				<div class="ow_sample_menu_title ow_tac">
					<img src="img/pc/top/sample_intro_hurin.png" alt="不倫でも幸せになれる？あの人の本当の気持ち" title="不倫でも幸せになれる？あの人の本当の気持ち" />
				</div>
<!--{assign var="fix" value=$top_fix2}-->
<!--{assign var="fix_icon" value="1"}-->
<!--{assign var="fix_caption" value="0"}-->
<!--{include file="file:./parts/top_fix_menu.html"}-->
			</div>
			<div class="ow_menu">
				<div class="ow_sample_menu_title ow_tac">
					<img src="img/pc/top/sample_intro_deai.png" alt="運命の相手って本当にいるの？恋の出会い" title="運命の相手って本当にいるの？恋の出会い" />
				</div>
<!--{assign var="fix" value=$top_fix6}-->
<!--{assign var="fix_icon" value="1"}-->
<!--{assign var="fix_caption" value="0"}-->
<!--{include file="file:./parts/top_fix_menu.html"}-->
			</div>
			<div class="ow_sample_intro_btm">
				<img src="img/pc/top/sample_intro_btm.jpg" alt="" />
			</div>
		</div>
		<!-- /.ow_sample -->

		<div class="ow_balloon_text">
			<div class="ow_balloon_top">
				<img src="img/pc/top/ow_balloon_top.png" alt="">
			</div>
			<div class="ow_balloon_mid">
				サーシャは相談者との対話を通じて、それを見ることができます。<br>
				その世界から読み取ったメッセージから「今のあなたに影響している状況」や「あなたが好転する選択」を教えてくれます。
			</div>
			<div class="ow_balloon_top">
				<img src="img/pc/top/ow_balloon_btm.png" alt="">
			</div>
		</div>
		<!-- /.ow_balloon_text -->

		<div class="ow_special" id="special">
			<div class="ow_special_intro ow_tac">
				<div class="ow_special_top">
					<img class="ow_vab" src="img/pc/top/special_top.jpg" alt="お悩み別鑑定　あの人は私の事が好き？それとも…" title="お悩み別鑑定　あの人は私の事が好き？それとも…" />
				</div>
				<div class="ow_special_intro_item ow_special_intro_teller">
					<img src="img/pc/top/special_intro_teller.png" alt="" title="" />
				</div>
				<div class="ow_special_intro_item ow_special_intro_title">
					<img src="img/pc/top/special_intro_title.png" alt="「この時に〇〇してください」あなたの未来を的確に示唆‼" title="「この時に〇〇してください」あなたの未来を的確に示唆‼" />
				</div>
				<div class="ow_special_intro_item ow_special_intro_speech_balloon">
					<img src="img/pc/top/special_intro_speech_balloon.png" alt="別世界のあなたが教えてくれます" title="別世界のあなたが教えてくれます" />
				</div>
				<div class="ow_special_intro_item ow_special_intro_arawareru">
					<img src="img/pc/top/special_intro_arawareru.png" alt="いつか本当に愛してくれる人は現れる？" title="いつか本当に愛してくれる人は現れる？" />
				</div>
				<div class="ow_special_intro_item ow_special_intro_saigo">
					<img src="img/pc/top/special_intro_saigo.png" alt="あの人とは結ばれる？最後はどうなる？" title="あの人とは結ばれる？最後はどうなる？" />
				</div>
				<div class="ow_special_intro_item ow_special_intro_suunen">
					<img src="img/pc/top/special_intro_suunen.png" alt="数年後の私は何をしているの？" title="数年後の私は何をしているの？" />
				</div>
			</div>
			<!-- /.ow_rec_intro -->
			<div class="ow_special_mid">
				<div class="ow_menu">
<!--{assign var="fix" value=$top_fix2}-->
<!--{assign var="fix_icon" value="1"}-->
<!--{assign var="fix_caption" value="0"}-->
					<div class="ow_menu_mid">
						<div class="ow_menu_head">
							<div class="ow_menu_icon">
								<img src="img/pc/category/<!--{$fix.category}-->.png" alt="<!--{$category_data[$fix.category].name}-->　<!--{if $fix.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" title="<!--{$category_data[$fix.category].name}-->　<!--{if $fix.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" />
							</div>

							<div class="ow_menu_title">
								<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=<!--{$fix.id}-->" class="ow_menu_link"><!--{$fix.name_biglobe|default:$fix.name_rakuten|default:$fix.name}--></a>
							</div>
						</div>
						<div class="ow_menu_tail">
							<span class="ow_menu_price ow_premium_price"><span class="ow_nif">プレミアム価格　<!--{$fix.price_off10|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span></span>
							<span class="ow_menu_price ow_default_price"><span class="ow_nif">通常価格　</span><!--{$fix.price_taxin|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span>
						</div>
					</div>
				</div>
				<!-- /.ow_menu -->
				<div class="ow_special_menu_title ow_tac">
					<img src="img/pc/top/special_intro_aisyou.png" alt="あの人と私の体の相性は良い？" title="あの人と私の体の相性は良い？" />
				</div>
				<div class="ow_menu">
<!--{assign var="fix" value=$top_fix4}-->
<!--{assign var="fix_icon" value="1"}-->
<!--{assign var="fix_caption" value="0"}-->
					<div class="ow_menu_mid">
						<div class="ow_menu_head">
							<div class="ow_menu_icon">
								<img src="img/pc/category/<!--{$fix.category}-->.png" alt="<!--{$category_data[$fix.category].name}-->　<!--{if $fix.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" title="<!--{$category_data[$fix.category].name}-->　<!--{if $fix.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" />
							</div>

							<div class="ow_menu_title">
								<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=<!--{$fix.id}-->" class="ow_menu_link"><!--{$fix.name_biglobe|default:$fix.name_rakuten|default:$fix.name}--></a>
							</div>
						</div>
						<div class="ow_menu_tail">
							<span class="ow_menu_price ow_premium_price"><span class="ow_nif">プレミアム価格　<!--{$fix.price_off10|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span></span>
							<span class="ow_menu_price ow_default_price"><span class="ow_nif">通常価格　</span><!--{$fix.price_taxin|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span>
						</div>
					</div>
				</div>
				<!-- /.ow_menu -->
				<div class="ow_special_menu_title ow_tac">
					<img src="img/pc/top/special_intro_ketukon.png" alt="好きな人と結婚したい…恋の未来を教えて！" title="好きな人と結婚したい…恋の未来を教えて！" />
				</div>
				<div class="ow_menu">
<!--{assign var="fix" value=$top_fix8}-->
<!--{assign var="fix_icon" value="1"}-->
<!--{assign var="fix_caption" value="0"}-->
					<div class="ow_menu_mid">
						<div class="ow_menu_head">
							<div class="ow_menu_icon">
								<img src="img/pc/category/<!--{$fix.category}-->.png" alt="<!--{$category_data[$fix.category].name}-->　<!--{if $fix.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" title="<!--{$category_data[$fix.category].name}-->　<!--{if $fix.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" />
							</div>

							<div class="ow_menu_title">
								<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=<!--{$fix.id}-->" class="ow_menu_link"><!--{$fix.name_biglobe|default:$fix.name_rakuten|default:$fix.name}--></a>
							</div>
						</div>
						<div class="ow_menu_tail">
							<span class="ow_menu_price ow_premium_price"><span class="ow_nif">プレミアム価格　<!--{$fix.price_off10|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span></span>
							<span class="ow_menu_price ow_default_price"><span class="ow_nif">通常価格　</span><!--{$fix.price_taxin|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span>
						</div>
					</div>
				</div>
				<!-- /.ow_menu -->
				<div class="ow_special_menu_title ow_tac">
					<img src="img/pc/top/special_intro_yarinaosu.png" alt="別れた人ともう一度やり直すためには…？" title="別れた人ともう一度やり直すためには…？" />
				</div>
				<div class="ow_menu">
<!--{assign var="fix" value=$top_fix6}-->
<!--{assign var="fix_icon" value="1"}-->
<!--{assign var="fix_caption" value="0"}-->
					<div class="ow_menu_mid">
						<div class="ow_menu_head">
							<div class="ow_menu_icon">
								<img src="img/pc/category/<!--{$fix.category}-->.png" alt="<!--{$category_data[$fix.category].name}-->　<!--{if $fix.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" title="<!--{$category_data[$fix.category].name}-->　<!--{if $fix.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" />
							</div>

							<div class="ow_menu_title">
								<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=<!--{$fix.id}-->" class="ow_menu_link"><!--{$fix.name_biglobe|default:$fix.name_rakuten|default:$fix.name}--></a>
							</div>
						</div>
						<div class="ow_menu_tail">
							<span class="ow_menu_price ow_premium_price"><span class="ow_nif">プレミアム価格　<!--{$fix.price_off10|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span></span>
							<span class="ow_menu_price ow_default_price"><span class="ow_nif">通常価格　</span><!--{$fix.price_taxin|number_format}--><!--{$smarty.const.PRICE_UNIT}--></span>
						</div>
					</div>
				</div>
				<!-- /.ow_menu -->
			</div>

			<div class="ow_special_btm ow_tac">
				<img class="ow_vat" src="img/pc/top/special_btm.jpg" alt="" />
			</div>
		</div>
		<!-- /.ow_special -->

				<div class="ow_free ow_tac">
					<div class="ow_free_mid">
						<div class="ow_free_question">
							<div class="ow_free_question_bg">
								<img src="img/pc/top/free_question_bg.jpg" alt="">
							</div>
							<div class="ow_free_question_item ow_free_question_teller">
								<img src="img/pc/top/free_question_teller.png" alt="">
							</div>
							<div class="ow_free_question_item ow_free_question_text">
								<img src="img/pc/top/free_question_text.png" alt="せっかく貴重な時間を割いて いただいてるのですから… もう少しお付き合いして貰えますか？少しでも晴れた気分になれるようあなたの不安な気持ちを教えてください。" title="せっかく貴重な時間を割いて いただいてるのですから… もう少しお付き合いして貰えますか？少しでも晴れた気分になれるようあなたの不安な気持ちを教えてください。">
							</div>
						</div>
						<div class="ow_free_title">
							<img src="img/pc/top/free_title.png" alt="完全無料鑑定" title="完全無料鑑定" />
						</div>
						<div class="ow_free_btn ow_tac"><a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=14" class="ow_free_btn_link ow_free_btn_link_1"><img src="img/pc/top/btn_free_1.png" alt="まさかの言葉にドキッ！　今あの人が、あなたに抱く想い・嘘偽りの無い本音　無料で鑑定する" title="まさかの言葉にドキッ！　今あの人が、あなたに抱く想い・嘘偽りの無い本音　無料で鑑定する" /></a></div>
						<div class="ow_free_btn ow_tac"><a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=15" class="ow_free_btn_link ow_free_btn_link_2"><img src="img/pc/top/btn_free_2.png" alt="次の恋美値はこの人？　『特別なご縁を感じます』あなたと結ばれる運命の人　無料で鑑定する" title="次の恋美値はこの人？　『特別なご縁を感じます』あなたと結ばれる運命の人　無料で鑑定する" /></a></div>
						<div class="ow_free_btn ow_tac"><a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=13" class="ow_free_btn_link ow_free_btn_link_3"><img src="img/pc/top/btn_free_3.png" alt="当てすぎて鳥肌!!　あなたがこの人生で果たすべき使命　無料で鑑定する" title="当てすぎて鳥肌!!　あなたがこの人生で果たすべき使命　無料で鑑定する" /></a></div>
					</div>
					<div class="ow_free_btm ow_tac">
						<img class="ow_vat" src="img/pc/top/free_btm.png" alt="" />
					</div>
				</div>
				<!-- /.ow_free -->


				<div class="ow_category_nav" id="category_nav">
					<div class="ow_category_nav_inner">
						<div class="ow_category_item"><a href="#renai" class="ow_category_link ow_category_link_1"><img src="img/pc/top/renai_btn.png" alt="恋愛" title="恋愛"></a></div>
						<div class="ow_category_item"><a href="#deai" class="ow_category_link ow_category_link_2"><img src="img/pc/top/deai_btn.png" alt="結婚・出会い" title="結婚・出会い"></a></div>
						<div class="ow_category_item"><a href="#jinsei" class="ow_category_link ow_category_link_3"><img src="img/pc/top/jinsei_btn.png" alt="人生・仕事" title="人生・仕事"></a></div>
					</div>
				</div>
				<!-- /.ow_category_nav -->

<!--{foreach name=menu_list key=key item=val from=$menu_list}-->
<!--{if isset($max_price_contents) }-->
<!--{assign value=$max_price_contents[$key] var="category_first"}-->
<!--{/if}-->
<!--{if $key=="renai"}-->
	<!--{assign value="恋愛鑑定　あの人の気持ち／片思い／不倫／相性／復縁" var="category_group_alt1"}-->
<!--{elseif $key=="deai"}-->
	<!--{assign value="結婚鑑定　結婚成就／運命の相手／あなたを好きな人" var="category_group_alt1"}-->
<!--{elseif $key=="jinsei"}-->
	<!--{assign value="人生・仕事鑑定　今後の運命／次の転機／仕事／収入／転職" var="category_group_alt1"}-->
<!--{/if}-->
<div id="<!--{$key}-->" class="ow_category ow_category_<!--{$key}-->">
	<div class="ow_category_top_wrap ow_tac">
		<div class="ow_category_top">
			<img class="ow_vab" src="img/pc/top/category_top_<!--{$key}-->.jpg" alt=""/>
		</div>
		<div class="ow_category_title ow_tac ow_category_top_item">
			<img src="img/pc/top/category_title_<!--{$key}-->.png" alt="" title="" />
		</div>
		<div class="ow_category_sub_title ow_category_top_item">
			<img src="img/pc/top/category_sub_title_<!--{$key}-->.png" alt="<!--{$category_group_alt1}-->" title="<!--{$category_group_alt1}-->" />
		</div>
	</div>
	<!-- /.ow_category_top_wrap -->
	<div class="ow_category_mid">
<!--{assign var="contents_count" value=0}-->
<!--{foreach name=outer key=key2 item=contents_data from=$val}-->
	<!--{if $contents_data.price_taxin > 1 || $contents_data.id > 900 && $contents_data.price_taxin <= 1}-->
		<!--{assign var="contents_count" value=$contents_count+1}-->
		<div class="ow_category_menu_small">
			<div class="ow_category_menu_small_mid js-tile">
				<div class="ow_menu">
					<div class="ow_menu_head">
						<div class="ow_menu_icon"><img src="img/pc/category/<!--{$contents_data.category}-->.png" alt="<!--{$category_data[$contents_data.category].name}-->　<!--{if $contents_data.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用" title="<!--{$category_data[$contents_data.category].name}-->　<!--{if $contents_data.target_count == 1}-->一<!--{else}-->二<!--{/if}-->人用"></div>
						<div class="ow_menu_title">
							<a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=<!--{$contents_data.id}-->" class="ow_menu_link"><!--{$contents_data.name_biglobe|default:$contents_data.name_rakuten|default:$contents_data.name}--></a>
						</div>
					</div>
					<div class="ow_menu_tail">
						<!--{if $contents_data.price_taxin > 1}-->
						<div class="ow_menu_price ow_premium_price ow_nif">プレミアム価格　<!--{$contents_data.price_off10|number_format}--><!--{$smarty.const.PRICE_UNIT}--></div>
						<div class="ow_menu_price ow_default_price"><span class="ow_nif">通常価格　</span><!--{$contents_data.price_taxin|number_format}--><!--{$smarty.const.PRICE_UNIT}--></div>
						<!--{else}-->
						<div class="ow_menu_price ow_default_price">無料</div>
						<!--{/if}-->
					</div>
				</div>
			</div>
			<!-- /.ow_category_menu_small_mid -->
		</div>
	<!--{/if}-->
<!--{/foreach}-->

	</div>
	<!-- ow_category_mid -->
	<div class="ow_category_btm ow_tac">
		<img class="ow_vat" src="img/pc/top/category_btm.jpg" alt="">
	</div>
</div>
<!--{/foreach}-->


				</div>
				<!-- /.ow_sp_contents -->
				</div>
				<!-- /.ow_main -->


<!--{include file="file:./parts/footer_menu.html"}-->

		</div>
	</div>
</body>
</html>
